<h1>Customers</h1>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers | search: 'r'">
      <td class="mdl-data-table__cell--non-numeric">{{customer.name}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.address}}</td>
    </tr>
  </tbody>
</table>